$purple: #8D53FF;
$pink: #CA6BE6;
$white: #f8f8f8;
$dark: #1f1f1f;
$red: #FF6057;
$yellow: #FFBD2E;
$green: #27C93F;
$lightgray: #c9c9c9;

$transition: all 250ms ease;

.someIconClass {
  i {
      padding-left: 0.5rem;
  
      &.red {
        color: $red;
      }
  
      &.amber {
        color: $yellow;
      }
  
      &.green {
        color: $green;
      }
    }
}

.terminal {

  p,
  li {
    margin: 1rem 0;
    color: $white;
    list-style-type: none;
    padding:  10px;
    transition: 0.3s;
    transform-origin: top left;
  }
  li:hover{
    transform: translateY(-10px) rotate(10deg);
  }

  a,
  a:visited {
    animation: changeColors 3s infinite;
    font-weight: bold;
  }
}

@keyframes changeColors {
  0% {
    color: #00a47f;
  }

  33.3% {
    color: #1d91e3;
  }

  66.6% {
    color: #d419fe;
  }

  100% {
    color: #00a47f;
  }
}